body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message {
    font-weight: bold;
}

.error {
    font-color: red;
}

.success {
    font-color: green;
}